.body{
  margin:0px;
}

.header {
  background-color:purple;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: inline;
  width: 10%;
  height: 500px;
  left: 0;
  background-color: grey;
}

.container {
  background-color: yellow;
  display: inline;
}

.footer {
  background-color: purple;
}
